html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: Helvetica, sans-serif;
}

.header {
	background-color: #333;
	top: 0px;
	padding: 1em;
}
.header a {
	color: #fff;
	height: 100%;
}

.swallow {
	padding: 2em;
}

.post-swallow {
	display: flex;
	flex-wrap: wrap;
}
.post-box {
	border: 1px solid black;
	max-width: 300px;
	padding: 1em;
	margin: 1em;
}

.post {
	padding: 2em;
	max-width: 35em;
	margin: auto;
}
